body {
  background-color: #f3f5f7;
  border-top: 3px solid #42bde8;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 700px;
  margin: 7.5% auto 0;
  padding: 0 5%;
}
h3 {
  color: #333;
}
ol {
  font-size: 1.125em;
  color: #333;
}
.quick-tip {
  margin-top: 20%;
}
.quick-tip p {
  display: none;
  animation: fadein 1000ms forwards;
}
.show {
  border: 1px solid #42bde8;
  background-color: rgba(66, 189, 232, 0.05);
  color: #42bde8;
  padding: 2.5%;
  border-radius: 3px;
  animation: fadeout 300ms forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(25px);
  }
}
