body {
  background-color: #f3f5f7;
  border-top: 3px solid #42bde8;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 650px;
  margin: 7.5% auto 0;
  padding: 0 5%;
}
h3 {
  color: #333;
}
ol {
  font-size: 1.125em;
  color: #333;
}
